@* @{
    ViewData["Title"] = "Admin Login";
}

<div class="admin-login-comp">
    <div class="admin-login-comp2">
        <div class="auth-form">
            <h1> @ViewData["Title"] </h1>
        </div>
    </div>
</div>
 *@

@page
@{
    Layout = null;  // This removes the shared layout for this page
}

<html>
<head>
    <title>Authentication</title>
</head>
<body>
    <!-- Your custom layout for Auth.cshtml -->
    <h1>Authentication Page</h1>
</body>
</html>
